*{
	margin: 0;
	padding: 0;
}

header{
	background: linear-gradient(#098c7d, #098c7d);
}

ul{
	list-style: none;
	marin: 0;
	padding: 20px;
}

a{
	font-size: 20px;
	padding: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

a:hover{
	color: #000000;
}

li{
	display: inline;
}

.logo-img{
	width: 40%;
	height: 40%;
}