@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');



.overpass-<uniquifier> {
  font-family: "Overpass", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
  font-family: Overpass;
  font-weight: 400;
}


header {  
  background-color: white;  
  position: fixed;  
  top: 0;  
  z-index: 100;  
  width: 100%;  
}


a {
  text-decoration: none;
}


.header-container {
  display: grid;
  gap: 0px;

  grid-template-columns: minmax(1px, 15%) 0.1fr minmax(150px, 13%) minmax(0px, 70%) minmax(140px, 15%) minmax(80px, 10%) minmax(1px, 15%);

  grid-template-rows: 83px;
}


.header-element {
  background-color: #098c7d;
}


.head-logo {
  width: 80px;
  height: 80px;
}


.head-text {
  white-space: nowrap;
  padding-top: 1px;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
}


.head-link {
  white-space: nowrap;
  padding-top: 10px;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}


.header-fix {
  display: grid;
  gap: 0px;


  grid-template-rows: 80px;
}



.bluesky {
  background-color: skyblue;
}


.menu .container {
  display: grid;
  tap: 10px;

  grid-template-columns: minmax(1px, 15%) auto minmax(1px, 15%);
}

.container .container {
  display: grid;
  gap: 10px;

  grid-template-columns: auto auto auto;
}

.blue {
  background-color: skyblue;
}

.orange {
  background-color: orange;
}


.microg,.fdroid,.droid {
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 9px;
}

.microg p,.fdroid p,.droid p {
  white-space: nowrap;
  font-size: 16px;
  margin-left: 10px;
  padding-bottom: 2px;
  float: left;
}

.microg img,.fdroid img,.droid img {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 5px;}


.download-1,.download-2,.download-3 {
  background-color: #FFF;
  border: 3px solid #CCC;
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.download-1 a,.download-2 a,.download-3 a {
  color: #333;
}


@media (max-width: 1240px  min-width: 550px) {
  .microg img,.fdroid img,.droid img {
    margin-right: 10vw;
  }

  .microg p,.fdroid p,.droid p {
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 7px;
    margin-right: 10vw;
  }

  .download-1,.download-2,.download-3 {
    float: left;
  }

}

@media (max-width: 422px) {
  .microg img,.fdroid img,.droid img {
    margin-right: 10vw;
  }

  .microg p,.fdroid p,.droid p {
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 7px;
    margin-right: 10vw;
  }

  .download-1,.download-2,.download-3 {
    float: left;
  }

}


@media (max-width: 362px) {
  .microg img,.fdroid img,.droid img {
    margin-right: 20vw;
  }
}




@media (max-width: 550px) {
  .container .container {
    display: grid;
    gap: 10px;

    grid-template-columns: 100%;
  }
}







@media (max-width: 469px) {
  .header-container {
    grid-template-columns: 0px 60px 0px minmax(0px, 70%) minmax(140px, 15%) minmax(80px, 10%) 10px;

    grid-template-rows: 63px;
  }

  .head-text {
    visibility: hidden;
  }

  .head-link {
    padding-top: 5px;
    font-size: 17px;
  }

  .head-logo {
    width: 60px;
    height: 60px;

  }

  .text {
    grid-template-columns: 10px auto 10px;
  }

  .header-fix {
    grid-template-rows: 60px;
  }
}