@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');



.overpass-<uniquifier> {
  font-family: "Overpass", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
	font-family: Overpass;
	font-weight: 400;
}

header {  
	background-color: white;  
	position: fixed;  
	top: 0;  
	z-index: 100;  
	width: 100%;  
}

a {
	text-decoration: none;
}


.header-container {
	display: grid;
	gap: 0px;

	grid-template-columns: minmax(1px, 15%) 0.1fr minmax(150px, 13%) minmax(0px, 70%) minmax(140px, 15%) minmax(80px, 10%) minmax(1px, 15%);

	grid-template-rows: 83px;
}

.header-element {
	background-color: #098c7d;
}

.head-logo {
	width: 80px;
	height: 80px;

}

.head-text {
	white-space: nowrap;
	padding-top: 1px;
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

.head-link {
	white-space: nowrap;
	padding-top: 10px;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

.header-fix {
	display: grid;
	gap: 0px;


	grid-template-rows: 80px;
}

.end1 {
	margin-top: 100px;
}

.text {
	display: grid;

	grid-template-columns: minmax(1px, 15%) auto minmax(1px, 15%);
	grid-template-rows: 100vh
}

.text-1 {
	text-align: left;
}

.text-2 {
	text-align: right;
}


@media (max-width: 469px) {
	.header-container {
		grid-template-columns: 0px 60px 0px minmax(0px, 70%) minmax(140px, 15%) minmax(80px, 10%) 10px;

		grid-template-rows: 63px;
	}

	.head-text {
		visibility: hidden;
	}

	.head-link {
		padding-top: 5px;
		font-size: 17px;
	}

	.head-logo {
		width: 60px;
		height: 60px;

	}

	.text {
		grid-template-columns: 10px auto 10px;
	}

	.header-fix {
		grid-template-rows: 60px;
	}
}